<style>
  .visitor-flagcounter--inline {
    margin-top: 2.5rem;
    text-align: right;
    line-height: 0;
    opacity: 0.7;
    transition: opacity 0.3s;
  }
  .visitor-flagcounter--inline:hover {
    opacity: 1;
  }
  .visitor-flagcounter--inline a {
    display: inline-block;
    line-height: 0;
  }
  .visitor-flagcounter--inline img {
    display: block;
    height: auto;
  }
</style>

<div class="visitor-flagcounter visitor-flagcounter--inline">
  <a href="https://info.flagcounter.com/WRzp"><img src="https://s01.flagcounter.com/count2/WRzp/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_0/pageviews_0/flags_0/percent_0/" alt="Visitor geography flag counter" border="0"></a>
</div>
